{% extends "base.html" %} {% block content %}
<h2 class="my-4">Import Staff</h2>
<form method="POST" enctype="multipart/form-data" action="">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    <label for="file" class="form-label">CSV File</label>
    <input type="file" class="form-control" id="file" name="file" required />
  </div>
  <div class="mb-3">
    <input type="submit" class="btn btn-primary" value="Upload" />
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %}
  <div class="alert alert-{{ category }} mt-3" role="alert">
    {{ message }} {% if traceback %}
    <button
      class="btn btn-link"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#errorLog"
      aria-expanded="false"
      aria-controls="errorLog"
    >
      For more information, view the DON'T PANIC error log
    </button>
    <div class="collapse mt-2" id="errorLog">
      <div class="card card-body" style="background-color: #afa1a4">
        <pre style="color: blue">{{ traceback }}</pre>
      </div>
    </div>
    {% endif %}
  </div>
  {% endfor %} {% endif %} {% endwith %} {% endblock %}
</form>
